/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}
@media only screen
and (min-width: 980px)
and (max-width: 1199px){
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width: 1440px){
	.first-image{ width:1430px; height:497px;}
	.intro-div{ width:1430px; height:500px;}
	.moreinfo{ width:712px; height:250px;}
	.intro-image{ width:1430px; height:497px;}
	.second-image{width:1430px; height:430px;}
}
/*@media only screen 
and (max-width : 1920px)
and (min-width: 980px){

.first-image{ width:1920px; height:656.5px;}
.intro-div{ width:1920px; height:642px;}
.moreinfo{ width:836.5px; height:396.5px;}

}*/
@media only screen 
and (max-width : 1224px) {
/* Styles */
.first-image{ width:1224px; height:425px;}
.intro-div{ width:1224px; height:425px;}
.moreinfo{ width:612px; height:213px;}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}
/*@media only screen
and (max-width : 1689px){

.first-image{ width:1689px; height:585px;}
.intro-div{ width:1689px; height:642px;}
.moreinfo{ width:836.5px; height:396.5px;}
}*/

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}