/*@media (min-width: 1450px) {
  .first-image{
    margin : 0 auto;
  }
  
}
@media (min-width:1622px){
.second-image{
  	margin: 0 auto;
  }
}*/

body{
	width:100%;
	min-width:800px;
	background:black;
	overflow-x: hidden;

	font-family: BlockGothicRR-LightExtraCond;
	font-weight: 100;
}
/*.BlockGothicRR-LightExtraCond{
	font-family: BlockGothicRR-LightExtraCond;
	font-weight: normal;
	font-style: normal;
}*/
.nav-wrapper{
	position:absolute;
	width:100%;
}
.xcontainer{
	width:100%;
	height:100%;

}
.xbox{
	background-image:url('../images/x.png');
	background-position:center;
	background-repeat: no-repeat;
	height:20px;
	width:20px;
	margin:0 40px 40px 0;
	float:right;
	cursor:pointer;
}
nav{
	position: relative;
	height:61px;
	width:924px;
	z-index:3;
	color:white;
	background-color: black;
	margin:0 auto;
	vertical-align: 10px;
	line-height: 387%;
	padding:0 17px 0 17px;
	text-align: right;
	letter-spacing: 1.2px;

}
nav h1{
	font-size:240%;
	float:left;
	word-spacing: 3px;
}
nav a{
	display:inline-block;
	color:white;
	margin-left:20px;
	font-size:1.815em;
	text-decoration: none;
	font-weight:100;
}
.container{
	width:100%;
}
.container2{
	width:100%;
}
@font-face{
	font-family: blockGothic;
	src: url('fonts/blockgothic/BlockGothicExtCon');
}
.wrapper{
	position:relative;
	max-width:1990px;
	margin: 0 auto;
}
#overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:497px;
	background-color: black;
	opacity:0;
	z-index:1;
}
#overlay2{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:497px;
	background-color: black;
	opacity:0;
	z-index:1;
}
#overlay-modal{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:2707px;
	background-image:url('../images/transparent.png'); 
	z-index:900;
}
.inner-modal{
	width:810px;
	height:889px;
	color:white;
	z-index:999;
	text-align: left;
	margin:0 auto;
	overflow-y: auto;
}
.inner-modal h1{
	font-size: 40px;
	letter-spacing: 1.5px;
	padding-top: 40px;
	margin-bottom:20px;

}
.inner-modal p, li{
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	line-height: 145%;
	font-weight: 100;
}
.inner-modal li{
	list-style-type: disc;

}
.inner-modal textarea{
	width:700px;
	height:150px;
	margin-top:15px;
}
form{
	margin-top:20px;
}
.sign-here{
	text-decoration: underline;
}
.input{
	width:300px;
	height:25px;
} 
#name label{
	margin-right: 16px;
	float:left;
	line-height: 319%;
}
#email{
	margin-bottom: 5px;
}
#email label{
	float:left;
	margin-right:7px;
	line-height: 319%;
}
textarea #message{
	margin-top:5px;
}
#buttonz{
	background-color: #363636;
	border:none;
	margin-left:256px;
	margin-top: 19px;
	width:165px;
	height:42px;
	font-size:25px;
	line-height:172%;
	font-family: BlockGothicRR-LightExtraCond;
	color:white;
}

.intro-image{
	width:1430px;
	height:497px;
}
.image-wrap{
	width: 100%;
	height:497px;
	min-width: 800px;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
}
.first-image{
	width:100%;
	height:497px;
	overflow: hidden;
	margin-bottom: -1px;
	/*background-image:url('../images/introimg.jpg');
	background-repeat:no-repeat;
	background-size: 100%;*/
	border:none;
}
.rip-date{
	font-size:65px; 
	color:#e6e7e8;  
	top: 58px;
	left:0;
	letter-spacing: 2px;
	margin-left: 5000px;
	position:relative;
	z-index:4;
	width: 400px;
}

.jamey{
	position:relative;
	width:520px;
	top:150px;
	left:0;
	margin-left: 5000px;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	font-size: 15px;
	z-index:2;
	line-height: 145%;

}
.jamey2{
	position:relative;
	z-index:2;
	width:520px;
	top:260px;
	left:0;
	margin-left:5000px;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight:100;
	font-size:15px;
	line-height: 145%;

}
.jamey2 span{
	line-height:307%;
}
.fag{
	margin-left: -999px;
	color:black;
	position:absolute;
	width: 800px;
	text-align: center;
	top:74px;
	/*left:569px;*/
	font-size: 469px;
	z-index: 2;


}
.rip-date2{
	position:relative;
	width:450px;
	font-size:65px; 
	color:#e6e7e8;  
	top: 108px;
	left:999px;
	margin-left: 600px;
	z-index:4;
	letter-spacing: 1.5px;

}
.slut{
	color:#191919;
	position:absolute;
	/*display:inline-block;*/
	margin-left: -999px;
	text-align: center;
	top:23px;
	width: 800px;
	font-size:488px;
	z-index:2;
	/*transform : scale(1,1.1);
	-webkit-transform:scale(1,1.1);*/ /* Safari and Chrome */
	/*-moz-transform:scale(1,1.1); 
	-ms-transform:scale(1,1.1); 
	-o-transform:scale(1,1.1); */

}
.rebecca{
	position:relative;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight:100;
	font-size:14px;
	z-index:3;
	line-height: 23px;
	text-align: right;
	width: 450px;
	left: 0;
	margin-left: 5000px;

}
#reb1{
	top:82px;
}
#reb2{

	top:112px;
	
}
#reb2 span{
	position:relative;
	left:10px;
	margin-left:30px;
	z-index: 5;

}
#reb3{
	top:127px;

}

.second-image{
	width:100%;
	height:497px;
	overflow: hidden;
}
.intro-div{
	width:100%;
	height:470px;
	background-color: #e6e7e8;
}
.end-hate{
	padding:61px 0 10px 0;
	margin: 0 auto;
	width:929px;
	line-height: 162%;
}
.end-hate button{
	margin-left:378px;
	padding-bottom: 7px;
	padding-right: 3px;
	margin-top:10px;
}
.intro-div h1{
	margin:0 0 4% 0;
	letter-spacing: 0.4pt;
	font-size:65px;
	font-family: BlockGothicRR-LightExtraCond;
}

.intro-div p{
	word-spacing: -1px;
	display: inline-block;
	margin:0 0 3% 0;
	font-size:18px;
	line-height: 158%;
	font-family:"Courier New", Courier monospace;
	font-weight: normal;
}

button{
	margin:10px 100px 0 80px;
	background-color: black;
	border:none;
	width:178px;
	height:42px;
	font-size:22px;
	letter-spacing: 1.2px;
	line-height:195%;
	font-family: BlockGothicRR-LightExtraCond;
	color:white;
}
.moreinfo{
	width:50%;
	height:365px;
	float:left;
	color:white;
	display: inline-block;
}
.moreinfo-inner{
	font-size:51px;
	width:444px;
	float:right;
	margin:7px 26px 0 0;
	text-indent: -10px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 100;
}
.moreinfo-inner a{
	text-indent: 1px;
	font-size:23px;
	color:white;
	text-decoration: none;
	border-bottom: 1px solid white;
	padding-bottom: 3px;
	margin-left:11px;
}
.article{
	display:block;
	width:177px;
	height:44px;
}
.moreinfo-inner2 {
	margin: 55px 0 0 36px;
	width:565px;
	color:white;
	line-height: 157%;
	font-size: 16px;
	font-weight: 100;
	font-family:"Courier New", Courier monospace;

}
.moreinfo-inner3{
	font-family:"Courier New", Courier monospace;
	font-weight:100;
	color:white;
	width:450px;
	margin:57px 23px 0 0;
	line-height: 170%;
	text-align: left;
	float:right;
	font-size: 15px;

}
.moreinfo-inner4{
	width:450px;
	margin: 57px 0 0 44px;
	font-size:50px;
	text-align: left;
	float:left;
	text-indent: -10px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 100;
}
.moreinfo-inner4 a{
	text-indent: 1px;
	font-size: 23px;
	color: white;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid white;			
}
.moreinfo-wired{
	display:block;
	width:180px;
	height:44px;
	border-bottom: solid 1px white;
	padding-bottom: 4px;
}
#darkgray{
	background-color:#181818;
}
#lightgray{
	background-color:#2b2b2b; font-size: 2em;
}
.history-name{
	width:50px;
	z-index: -1;
	position:relative;
}
.clear{
	clear:both;
}
.outro-div{
	width:100%;
	height:444px;
	background-color: #e6e7e8;
}
.outro-div h1{
	margin:0 0 4% 0;
	letter-spacing: 0.4pt;
	font-size:65px;
	font-family: BlockGothicRR-LightExtraCond;
	letter-spacing: .5px;
}

.learn-more{
	padding:73px 0 10px 0;
	margin: 0 auto;
	width:951px;
	line-height: 162%;
}
.learn-more li{
	display: inline-block;
	margin:0 16% 1% 0;
	font-size:16px;
	font-family:"Courier New", Courier monospace;
	font-weight: normal;
}
.learn-more span{
	font-size:17px;
}
.learn-more a{
	text-decoration: none;
	font-family:"Courier New", Courier monospace;
	font-weight: normal;
	color:black;
}
.learn-more button{
	margin-left:387px;
	padding-bottom: 13px;
	padding-right: 10px;
	margin-top:36px;
}
.learn-more a:hover{
	color:gray;
}

footer{ 
	width:100%;
	height:60px;
	background-color: #000000;
	color:white;
	font-size: 2em;
}
.lastdiv-ever{
	width:1043px;
	/*height:100px;*/
	margin: 0 auto;
}
.lastdiv-ever p{
	font-family: "Courier New" Courier, monospace;
	font-size: 15px;
	font-weight: 100;
	margin-top: 20px;
	margin-left:46px;
	/*line-height: 735%;*/
	float:left;
}
.small-punctuation{
	font-size: 35px;
	vertical-align: top;
}
.social{
	width:124px;
	margin-right: 33px;
	margin-top: 17px;
	float:right;
}
.twitter{
	margin:0 7px 1px 0;
}
.facebook{
	margin:0 8px 1px 0;
}
