body{
	/*width:100%;*/
	font-family: BlockGothicRR-LightExtraCond;
}
/*.BlockGothicRR-LightExtraCond{
	font-family: BlockGothicRR-LightExtraCond;
	font-weight: normal;
	font-style: normal;
}*/
nav{
	position: relative;
	height:61px;
	width:800px;
	z-index:3;
	color:white;
	background-color: black;
	margin:0 auto;
	vertical-align: 10px;
	line-height: 387%;
	padding:0 50px 0 50px;
	text-align: right;

}
nav h1{
	font-size:240%;
	float:left;
}
nav a{
	display:inline-block;
	color:white;
	margin-left:10px;
	font-size:1.815em;
	text-decoration: none;
	font-weight:100;
	letter-spacing: -1px;
}
.container{
	width:100%;
}
.container2{
	width:100%;
}
@font-face{
	font-family: blockGothic;
	src: url('fonts/blockgothic/BlockGothicExtCon');
}
.wrapper{
	position:relative;
}
#overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: black;
	opacity:0;
	z-index:1;
}
#overlay2{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: black;
	opacity:0;
	z-index:1;
}
#overlay-modal{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-image:url('../images/transparent.png'); 
	z-index:999;
}
.inner-modal{
	width:800px;
	height:889px;
	color:white;
	text-align: left;
	margin:100px auto;
}
.inner-modal h1{
	font-size: 40px;
	letter-spacing: 1px;
	margin-bottom:20px;

}
.inner-modal p, li{
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	line-height: 145%;
	font-weight: 100;
}
.inner-modal li{
	list-style-type: disc;

}
.inner-modal textarea{
	width:700px;
	height:150px;
}
.input{
	width:300px;
	height:25px;
} 
#name label{
	margin-right: 16px;
	float:left;
	line-height: 319%;
}
#email{margin-bottom: 5px;}
#email label{
	float:left;
	margin-right:7px;
	line-height: 319%;
}
textarea #message{
	margin-top:5px;
}
#buttonz{
	background-color: #363636;
	border:none;
	margin-left:256px;
	margin-top: 19px;
	width:165px;
	height:42px;
	font-size:25px;
	line-height:172%;
	font-family: BlockGothicRR-LightExtraCond;
	color:white;
}

.intro-image{
	width:1430px;
	height:497px;
}
.first-image{
	width:1430px;
	height:497px;
	overflow: hidden;
	margin-bottom: -1px;
	background-image:url('../images/introimg.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
	border:none;
}
.rip-date{
	font-size:65px; 
	color:#e6e7e8;  
	top: 240px;
	left:999px;
	position:absolute;
	z-index:4;
}

.jamey{
	position:absolute;
	top:159px;
	left:999px;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight: 100;
	font-size: 15px;
	z-index:2;

}
.jamey2{
	position:absolute;
	z-index:2;
	top:300px;
	left:999px;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight:100;
	font-size:15px;

}
/*.fag-def{
	margin-bottom:50px;
	
}
.fag-def2{
	margin-top: 115px;
}*/
.fag{
	margin-left: -999px;
	color:black;
	position:absolute;
	top:90px;
	left:569px;
	font-size: 409px;
	z-index: 2;


}
.rip-date2{
	font-size:65px; 
	color:#e6e7e8;  
	top: 204px;
	left:782px;
	position:absolute;
	z-index:4;
	letter-spacing: 1.5px;

}
.slut{
	color:#191919;
	position:absolute;
	display:inline-block;
	margin-left: -999px;
	top:63px;
	left:518px;
	font-size:409px;
	z-index:2;

}
.rebecca{
	position:absolute;
	color:#e6e7e8;
	font-family: "Courier New", Courier, monospace;
	font-weight:100;
	font-size:14px;
	z-index:3;
	line-height: 23px;
	text-align: left;
	text-indent: 44px;


}
.rebecca span{
}
#first-p{
	position:absolute;
	top:129px;
	left:513px;
}
#second-p{
	position:absolute;
	top:147px;
	left:462px;
	
}
#third-p{
	position:absolute;
	top:166px;
	left:499px;

}
#fourth-p{
	position:absolute;
	top:184px;
	left:620px;

}
#fifth-p{
	position:absolute;
	top:272px;
	left:461px;
}
#sixth-p{
	position:absolute;
	top:289px;
	left:458px;
}
#seventh-p{
	position:absolute;
	top:306px;
	left:531px;
}
#eighth-p{
	position:absolute;
	top:323px;
	left:679px;
}
#ninth-p{
	position:absolute;
	top:356px;
	left:600px;
}
.second-image{
	width:1430px;
	height:430px;
	background-image:url('../images/slut.jpg');
	background-repeat:no-repeat;
	background-size: 100%;


}
/*#neg-indent{
	text-indent: -49px;
	top:151px;
	line-height: 23px;


}
#neg-indent2{
	top:161px;
	text-indent: -7px;
	line-height: 25px;

}
#indent{
	top:171px;
	line-height: 39px;


}*/

.intro-image img{
	max-width:100%;
	height:auto;
}
.intro-div{
	width:100%;
	height:500px;
	background-color: #e6e7e8;
}
.end-hate{
	margin: 0 auto;
	width:65%;
	padding:3% 0 3% 23%;
}
.intro-div h1{
	margin:0 0 3% 0;
	font-size:5em;
	font-family: BlockGothicRR-LightExtraCond;
}
.intro-div p{
	display: inline-block;
	margin:0 16% 3% 0;
	font-size:1em;
	font-family:Courier;
	font-weight: normal;
}
button{
	margin:3% 50% 0 23%;
	background-color: black;
	border:none;
	width:165px;
	height:42px;
	font-size:25px;
	line-height:172%;
	font-family: BlockGothicRR-LightExtraCond;
	color:white;
}
.moreinfo{
	width:50%;
	height:500px;
	float:left;
	color:white;
	display: inline-block;
}
.moreinfo-inner{
	font-size:59px;
	width:72%;
	float:right;
	margin:106px 10px 0 0;
	text-indent: -10px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 100;
}
.moreinfo-inner a{
	text-indent: 1px;
	font-size:23px;
	color:white;
	text-decoration: none;
	display:inline-block;
	width:170px;
	border-bottom: solid 1px white;
	padding-bottom: 4px;
	margin:30px 0 0 9px;
}
.moreinfo-inner2 {
	margin: 96px 0 0 33px;
	width:75%;
	color:white;
	line-height: 175%;
	font-size: 16px;
	font-weight: 100;
	font-family:"Courier New", Courier monospace;

}
.moreinfo-inner3{
	font-family:"Courier New", Courier monospace;
	font-weight:100;
	width:75%;
	margin:79px 0 0 196px;
	color:white;
	line-height: 175%;
	font-size: 16px;

}
.moreinfo-inner4{
	margin:76px 137px 0 0;
	font-size:59px;
	width:72%;
	float:right;
	text-indent: -10px;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-weight: 100;
}
.moreinfo-inner4 a{
	text-indent: 1px;
	font-size:23px;
	color:white;
	text-decoration: none;
	display:inline-block;
	width:175px;
	border-bottom: solid 1px white;
	padding-bottom: 4px;
	margin:30px 0 0 0;
}
#darkgray{background-color:#181818;}
#lightgray{background-color:#2b2b2b; font-size: 2em;}

.clear{
	clear:both;
}
.outro-div{
	width:100%;
	height:520px;
}
.learn-more{
	margin: 0 auto;
	width:65%;
	padding:5% 0 3% 0;
}
.learn-more li{
	font-family: "Courier New" Courier monospace;
	font-size: 20px;
	line-height: 217%;

}
.learn-more h1{
	font-size: 100px;
	margin-bottom:30px;
}
.learn-more button{
	margin-left:41%;
}
footer{ 
	width:100%;
	height:125px;
	background-color: #000000;
	color:white;
	font-size: 2em;
}
.lastdiv-ever{
	width:920px;
	height:100px;
	margin: 0 auto;
}
.lastdiv-ever p{
	font-family: "Courier New" Courier, monospace;
	font-size: 15px;
	font-weight: 100;
	line-height: 735%;
	float:left;
}
.small-punctuation{
	font-size: 35px;
	vertical-align: top;
}
.social{
	width:250px;
	margin-top: 28px;
	float:right;
}
.social img{
	margin-right: 20px;
}
/*.facebook{
	width:90px; 
	height:90px; 
	background-image:url("../images/facebook.png"); 
	background-repeat:no-repeat;
	background-size: 100%;
}
.twitter{
	width:90px; 
	height:90px; 
	background-image:url("../images/twittericon.png"); 
	background-repeat:no-repeat;
	background-size: 100%;
}
.tumblr{
	width:90px; 
	height:90px; 
	background-image:url("../images/tumblricon.png"); 
	background-repeat:no-repeat;
	background-size: 100%;
}*/